# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password

# Data and Base directory settings

datadir = /apps/mysql/data
innodb_data_home_dir = /apps/mysql/data
innodb_log_group_home_dir = /apps/mysql/data
tmpdir  = /apps/mysql/tmp
innodb_data_file_path = ibdata1:12M:autoextend:max:16G
innodb_autoextend_increment = 256
innodb_file_per_table = 1



# Log Files

# Binary log information and location settings 

log-bin = /apps/mysql/binlog/mysql-bin
binlog-format=ROW
binlog_checksum=NONE
binlog_expire_logs_seconds = 259200
max_binlog_size = 100M


# Error log settings

log-error = /apps/mysql/mysql-error.log

# Slow Query log settings

slow-query-log = 0
slow_query_log_file = /apps/mysql/binlog/mysql-slow.log
long_query_time = 10


# Network settings

port=3306
socket=/var/lib/mysql/mysql.sock

# MySQL Deamon file for processes id settings

pid-file=/var/run/mysqld/mysqld.pid

# Innodb memory settings

innodb_dedicated_server = ON

##When innodb_dedicated_server is enabled, InnoDB automatically configures the following variables:
#innodb_buffer_pool_size=32G
#innodb_log_file_size = 1G
#innodb_log_files_in_group = 2
#innodb_flush_method=O_DIRECT
  
innodb_log_buffer_size=64M
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=120
innodb_write_io_threads=8
innodb_read_io_threads=8
innodb_online_alter_log_max_size=1G
innodb_buffer_pool_instances=8
innodb_thread_concurrency=8
innodb_page_cleaners=8
#innodb_io_capacity=400
#innodb_io_capacity_max=2000

# Replication Settings
server-id=1
gtid_mode=ON
enforce_gtid_consistency=ON

# Relay Log info and locations

relay-log=/apps/mysql/relaylog/relay-bin
relay-log-info-file=/apps/mysql/data/relay-log.info
relay-log-index=/apps/mysql/relaylog/relay-bin.index

[mysqldump]
quick = 1
max_allowed_packet = 1024M

[client]
port = 3306
socket = /var/lib/mysql/mysql.sock
character-sets-dir = /apps/mysql/install/share/charsets

[mysqld_safe]
open-files-limit = 8192



